<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wow.common.dao.AppDao">
	<resultMap id="BaseResultMap" type="cn.wow.common.domain.App">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="contacts_id" property="contactsId" jdbcType="BIGINT" />
		<result column="effective_date" property="effectiveDate" jdbcType="DATE" />
		<result column="expire_date" property="expireDate" jdbcType="DATE" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="unsign_file" jdbcType="VARCHAR" property="unsignFile" />
		<result column="sign_file" jdbcType="VARCHAR" property="signFile" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="is_delete" jdbcType="INTEGER" property="isDelete" />
		<result column="cert_id" jdbcType="BIGINT" property="certId" />
		<result column="valid" jdbcType="INTEGER" property="valid" />
		<result column="is_unsign" jdbcType="INTEGER" property="isUnsign" />
		
		<association property="certificate" javaType="cn.wow.common.domain.Certificate" column="cert_id" select="cn.wow.common.dao.CertificateDao.selectOne"/> 
		<association property="contacts" javaType="cn.wow.common.domain.Contacts" column="contacts_id" select="cn.wow.common.dao.ContactsDao.selectOne"/> 
	</resultMap>
	
	<sql id="base_columns">
		a.id, a.name, a.contacts_id, a.effective_date, a.expire_date, a.remark, a.unsign_file, a.sign_file, a.create_time, a.update_time, a.is_delete, a.cert_id, a.valid, a.is_unsign
	</sql>
	
	<select id="selectOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select <include refid="base_columns" /> from app a where id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		update app set is_delete = 1 where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="cn.wow.common.domain.App">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
		    SELECT @@IDENTITY
		</selectKey>
		
		insert into app (name, contacts_id, effective_date, expire_date, remark, unsign_file, sign_file, create_time, update_time, is_delete, cert_id, valid, is_unsign)
		values (#{name,jdbcType=VARCHAR}, #{contactsId, jdbcType=BIGINT}, #{effectiveDate,jdbcType=DATE},
		#{expireDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR},  #{unsignFile,jdbcType=VARCHAR}, #{signFile,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, #{certId,jdbcType=BIGINT}, #{valid,jdbcType=INTEGER}, #{isUnsign,jdbcType=INTEGER}
		)
	</insert>
	
	<update id="update" parameterType="cn.wow.common.domain.App">
		update app
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="effectiveDate != null">
				effective_date = #{effectiveDate,jdbcType=DATE},
			</if>
			<if test="expireDate != null">
				expire_date = #{expireDate,jdbcType=DATE},
			</if>
			<if test="unsignFile != null">
				unsign_file = #{unsignFile,jdbcType=VARCHAR},
			</if>
			<if test="signFile != null">
				sign_file = #{signFile,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="certId != null">
				cert_id = #{certId,jdbcType=BIGINT},
			</if>
			<if test="valid != null">
				valid = #{valid,jdbcType=INTEGER},
			</if>
			<if test="isUnsign != null">
				is_unsign = #{isUnsign,jdbcType=INTEGER},
			</if>
			<if test="contactsId != null">
				contacts_id = #{contactsId, jdbcType=BIGINT},
			</if>
			
			remark = #{remark,jdbcType=VARCHAR}
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	
	<select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map" >
	  	select <include refid="base_columns" /> from app a left join contacts c on a.contacts_id = c.id
	     <where>
	     	  <if test="name != null"> 
				and a.name = #{name,jdbcType=VARCHAR} 
			  </if>
			  <if test="qname != null">
				and a.name like concat('%', #{qname,jdbcType=VARCHAR}, '%') 
			  </if>
			  <if test="startEffectiveDate != null and startEffectiveDate != ''">  
		    	and a.effective_date &gt;= #{startEffectiveDate, jdbcType=DATE}
		      </if>
		      <if test="endEffectiveDate != null and endEffectiveDate != ''">  
		    	and a.effective_date &lt;= #{endEffectiveDate, jdbcType=DATE}
		      </if>
			  <if test="startExpireDate != null and startExpireDate != ''">  
		    	and a.expire_date &gt;= #{startExpireDate, jdbcType=DATE}
		      </if>
		      <if test="endExpireDate != null and endExpireDate != ''">  
		    	and a.expire_date &lt;= #{endExpireDate, jdbcType=DATE}
		      </if>
		      <if test="startCreateTime != null and startCreateTime != ''">  
		    	and a.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="endCreateTime != null and endCreateTime != ''">  
		    	and a.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="startUpdateTime != null and startUpdateTime != ''">  
		    	and a.update_time &gt;= #{startUpdateTime, jdbcType=TIMESTAMP}
		      </if>
		      <if test="endUpdateTime != null and endUpdateTime != ''">  
		    	and a.update_time &lt;= #{endUpdateTime, jdbcType=TIMESTAMP}
		      </if>
			  <if test="isDelete != null">
				and a.is_delete = #{isDelete,jdbcType=INTEGER}
			  </if>
			  <if test="id != null">
				and a.id &lt;&gt; #{id,jdbcType=BIGINT}
			  </if>
			  <if test="certId != null">
				and a.cert_id = #{certId,jdbcType=BIGINT}
			 </if>
			 <if test="wechat != null">
				and c.wechat like concat('%', #{wechat,jdbcType=VARCHAR}, '%') 
			 </if>
			 <if test="isNew != null">
				and a.create_time = a.update_time
			  </if>
			  <if test="isUpdate != null">
				and a.create_time &lt;&gt; a.update_time
			  </if>
			  <if test="valid != null">
				and a.valid = #{valid,jdbcType=INTEGER}
			  </if>
			  <if test="isUnsign != null">
				and a.is_unsign = #{isUnsign,jdbcType=INTEGER}
			  </if>
	      </where>
	      
		  <choose>
	  		<when test="custom_order_sql != null">
	  			order by ${custom_order_sql}
	  		</when>
	  		<otherwise>
	  			order by a.id desc
	  		</otherwise>
	 	 </choose>
	  </select>
	
	
	<select id="getAppNames" resultType="java.lang.String">
		select DISTINCT(name) from app where is_delete = 0
	</select>
	
</mapper>