<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.StatisticsDao">

	<select id="statisticsNum" resultType="java.util.Map" parameterType="java.util.Map">
		select 1 type, count(*) num, case when sum(price) is null then 0 else sum(price) end price from sign_record sr left join app a on sr.app_id = a.id
		<where>
			a.is_delete = 0 and type =1 and a.is_unsign = 0 and a.is_effective = 1

			<if test="startCreateTime != null and startCreateTime != ''">
				and sr.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
			</if>

			<if test="endCreateTime != null and endCreateTime != ''">
				and sr.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
			</if>
		</where>
		UNION ALL
		select 2 type, count(*) num, case when sum(price) is null then 0 else sum(price) end price from sign_record sr left join app a on sr.app_id = a.id
		<where>
			a.is_delete = 0 and type =2 and a.is_unsign = 0 and a.is_effective = 1

			<if test="startCreateTime != null and startCreateTime != ''">
				and sr.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
			</if>

			<if test="endCreateTime != null and endCreateTime != ''">
				and sr.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
			</if>
		</where>
		UNION ALL
		select 3 type, count(*) num, case when sum(price) is null then 0 else sum(price) end price from sign_record sr left join app a on sr.app_id = a.id
		<where>
			a.is_delete = 0 and type = 3 and a.is_unsign = 0 and a.is_effective = 1

			<if test="startCreateTime != null and startCreateTime != ''">
				and sr.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
			</if>

			<if test="endCreateTime != null and endCreateTime != ''">
				and sr.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>

	<!-- 证书统计 -->
	<select id="statisticsCertificate" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT a. name, case when a.num is null then 0 else a.num end total, case when b.num is null then 0 else b.num end today FROM 
	 	    (SELECT c. name, count(*) num FROM sign_record sr LEFT JOIN certificate c ON c.id = sr.cert_id LEFT JOIN app a ON a.id = sr.app_id WHERE c.is_delete = 0 AND a.is_delete = 0 And a.is_unsign = 0 AND sr.type != 2 GROUP BY sr.cert_id 
			   UNION ALL SELECT name, 0 FROM certificate WHERE id NOT IN ( SELECT DISTINCT sr.cert_id FROM sign_record sr LEFT JOIN app a ON sr.app_id = a.id WHERE a.is_delete = 0 and a.is_unsign = 0) AND is_delete = 0 ORDER BY num DESC 
			) a 
			LEFT JOIN 
			( SELECT c. name, count(*) num FROM sign_record sr LEFT JOIN certificate c ON c.id = sr.cert_id LEFT JOIN app a ON a.id = sr.app_id WHERE c.is_delete = 0 AND a.is_delete = 0 And a.is_unsign = 0 AND sr.type != 2 and sr.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP} and sr.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP} GROUP BY sr.cert_id 
			  UNION ALL SELECT NAME, 0 FROM certificate WHERE id NOT IN ( SELECT DISTINCT sr.cert_id FROM sign_record sr LEFT JOIN app a ON sr.app_id = a.id WHERE a.is_delete = 0 and a.is_unsign = 0) AND is_delete = 0 ORDER BY num DESC 
			) b ON a. name = b. name
	</select>
	
	<!-- 支出统计 -->
	<select id="statisticsPay" resultType="java.util.Map" parameterType="java.util.Map">
		select 1 name, case when sum(price) is null then 0 else sum(price) end price from sign_record sr LEFT JOIN app a on a.id = sr.app_id 
		<where>
			a.is_delete = 0 and type != 3 and a.is_unsign = 0

			<if test="startCreateTime != null and startCreateTime != ''">
				and sr.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
			</if>

			<if test="endCreateTime != null and endCreateTime != ''">
				and sr.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
			</if>
		</where>
		union all 
		select 2 name, case when sum(price) is null then 0 else sum(price) end price  from pay
		<where>
			is_delete = 0	

			<if test="startPayDate != null and startPayDate != ''">
				and pay_date &gt;= #{startPayDate, jdbcType=DATE}
			</if>

			<if test="endPayDate != null and endPayDate != ''">
				and pay_date &lt;= #{endPayDate, jdbcType=DATE}
			</if>
		</where>
	</select>
	
	<!-- 支出详情统计 -->
	<select id="statisticsPayDetail" resultType="java.util.Map" parameterType="java.util.Map">
		select type, sum(price) price from pay 
		<where>
			is_delete = 0	

			<if test="startPayDate != null and startPayDate != ''">
				and pay_date &gt;= #{startPayDate, jdbcType=DATE}
			</if>

			<if test="endPayDate != null and endPayDate != ''">
				and pay_date &lt;= #{endPayDate, jdbcType=DATE}
			</if>
		</where>
		 group by type order by price desc
	</select>
	
	
	<!-- 每月统计 -->
	<select id="monthStatistic" resultType="java.util.Map" parameterType="java.util.Map">
		select a.datelist, case when b.price is null then 0 else b.price end price from 
		(select datelist, 0 from calendar where datelist &gt;= #{startCreateTime, jdbcType=TIMESTAMP} and datelist &lt;= #{endCreateTime, jdbcType=TIMESTAMP}) a
		left join 
		(select DATE_FORMAT(create_time,'%Y-%m-%d') create_time, sum(price) price from sign_record where DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= #{startCreateTime, jdbcType=TIMESTAMP} and DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= #{endCreateTime, jdbcType=TIMESTAMP} and type !=3 group by DATE_FORMAT(create_time,'%Y-%m-%d')) b
		on a.datelist = b.create_time order by a.datelist asc
	</select>

</mapper>